:8080 {
  gzip

  root push-client  

  rewrite /static {
    r (.*)
    to /admin/static{1}
  }

  basicauth /admin user password
  proxy /admin localhost:8082 {
    without /admin
    }

  proxy /api localhost:8089/ {
    without /api
  }
}

:8082 {
  root push-admin-page/build
}

